<%- include('header.ejs') %>

<div>
    <section
        class="cover bg-gradient-to-r from-[#03071e] relative bg-customColor px-4 xsm:px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 overflow-hidden h-screen flex items-center">
        <div class="h-screen absolute top-0 left-0 z-0">
            <img src="images/bg1.jpg" alt="" class="w-screen h-full opacity-20">
        </div>
            <div class="main-form">
                <div class="mt-16 wrapper lg:w-[100%] xl:[100%] relative z-10">
                    <div class="title-text">
                        <div class="title">Signup</div>
                    </div>
                <div class="form-container">
                    <div class="form-inner">
                        <form class="signup-form">
                            <div class="field">
                            <input type = "text" name = "name" placeholder="Name" required />
                            </div>
                            <div class="field">
                            <input type = "email" name = "email" placeholder="Email" required />
                            </div>

                           <div class ="field">
                            <label for="dob">Date of Birth:</label>
                            <input type="date" id="dateOfBirth" name="dateOfBirth" required>
                           </div>
                          
                           <div class="field">
                            <label for="gender">Gender</label>
                          <select id="gender" name = "gender" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>  
                          </select>
                            </div>

                            <div class = "signup-email-error"></div>
                            <div class="field">
                            <input type = "password" name = "password" placeholder="Password" required />
                            </div>
                            <div class = "signup-password-error"></div>
                            <div class="field btn">
                                <div class="btn-layer"></div>
                                <input type="submit" value="Signup">
                            </div>
                        </form>
                    </div>
                </div>    
            </div>
        </div>
    </section>
</div>

<script>
    const form = document.querySelector('.signup-form');
    const emailError = document.querySelector('.signup-email-error');
    const passwordError = document.querySelector('.signup-password-error');
    form.addEventListener('submit', async (e) =>{
        e.preventDefault();

      // reset errors
      emailError.textContent = '';
      passwordError.textContent = '';


        //get the values
        const email = form.email.value;
        const password = form.password.value;
        const name = form.name.value;
        const gender=form.gender.value;
        const dateOfBirth = form.dateOfBirth.value;
    
        try{  
        const res = await fetch('/signup',{
          method: 'POST',
          body: JSON.stringify({name:name,email: email, password: password, gender: gender, dateOfBirth: dateOfBirth}),
          headers: {'Content-Type': 'application/json'}
        });
         

        const data = await res.json();

        if(data.errors){    //data represents the request sending object, where errors is created variable in request side
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
        }
      


       if(data.newUser){   //name of new variable while creating signup in database
        
        async function signupComplete() {
  try {
    const response = await fetch('/logout', {
      method: 'GET'
    });

    if (response.ok) {
      window.alert("Registered Successfully!")
      window.location.href = '/';
    } else {
      
      console.error('Process failed:', response.statusText);
    }
  } catch (error) {
    console.error('Error during process:', error);
  }
}


signupComplete();
       
}
         

      }catch(err){
       console.log(err);
        }
        
    });
</script>

<%- include('footer.ejs') %>
<%- include('bottom.ejs') %>